{{> page_header_partial pageHeader="3. What to keep"}}

<p>
    The capture tool found NN settings in the MM applications. Look at each application's settings
    and decide which settings you want to keep.
</p>
<hr/>
<div>
    <span><span class="flc-num-settings-selected">0</span> settings selected</span>
    <a href="#" class="flc-select-all-settings">Select All</a>
    <a href="#" class="flc-clear-all-settings">Clear All</a>
</div>

<form>
<div class="form-group fl-capture-scrolled">
    {{#each capturedSettingsToRender}}
    <div>
        <div class="clearfix color-bg-light-vivid-low" style="margin-bottom: 10px; padding: 5px">
            <div class="checkbox" style="display:inline">
                <label>
                    <input type="checkbox" name="fc-solutions-to-keep" value="{{this.id}}" id="fc-solution-{{this.id}}" />
                    <span> </span>
                </label>
            </div>
            <strong>{{this.name}} ( <a class="flc-hideshow-numsetting-link" data-solution="{{this.id}}"> {{this.numberOfSettings}} settings </a> ) </strong>
            <input class="flc-hideshow-solution btn btn-default theme-light pull-right" style="background-color: rgba(255,255,255,1)" type="button" value="Show Settings" data-show="false" data-solution="{{this.id}}" />
        </div>
        <div style="margin-left: 40px; display: none;" id="flc-settings-for-{{this.id}}">
        {{#each this.renderSettings}}
            {{!-- <div class="pull-right" style="color: gray"><em>Debug Info: {{this.debugInfo}}</em></div> --}}
            <div class="checkbox">
                <label>
                    <input name="fc-settings-to-keep" value="{{../id}}:{{this.settingId}}" type="checkbox" />
                    <span>{{this.settingLabel}}: <strong>{{this.settingVal}}</strong></span>
                    <img src="./u128.png" data-toggle="tooltip" title="{{this.settingDesc}}"
                        aria-hidden="true" />

                </label>
            </div>
        {{/each}}
        </div>
    </div>
    {{/each}}
</div>
</form>
<input type="button" class="btn btn-default flc-capture-back" value="Back" />
<input type="button" class="btn btn-default flc-capture-next" value="Next" />

{{> footer_location_partial activeWhatToKeep="true"}}
