{{> page_header_partial pageHeader="3. What to keep"}}

<p>
    The capture tool found NN settings in the MM applications. Look at each application's settings
    and decide which settings you want to keep.
</p>
<hr/>
<div>
    <span><span class="flc-num-settings-selected">0</span> settings selected</span>
    <a href="#" class="flc-select-all-settings">Select All</a>
    <a href="#" class="flc-clear-all-settings">Clear All</a>
</div>

<form>
<div class="form-group fl-capture-scrolled">
    {{#each capturedSettingsToRender}}
        <p class="form-group-label"><strong>{{this.numberOfSettings}} settings found for {{this.name}}</strong></p>
        {{#each this.renderSettings}}
            <div class="pull-right" style="color: gray"><em>Debug Info: {{this.debugInfo}}</em></div>
            <div class="checkbox">
                <label>
                    <input name="fc-settings-to-keep" value="{{@../key}}:{{this.settingId}}" type="checkbox" />
                    <span>{{this.settingLabel}}: {{this.settingVal}}</span>
                    <img src="./u128.png" data-toggle="tooltip" title="{{this.settingDesc}}"
                        aria-hidden="true" />

                </label>
            </div>
        {{/each}}
    {{/each}}
</div>
</form>
<input type="button" class="btn btn-default flc-capture-back" value="Back" />
<input type="button" class="btn btn-default flc-capture-next" value="Next" />

{{> footer_location_partial activeWhatToKeep="true"}}
